@font-face {
    font-family: "Satoshi Variable";
    src: url("SatoshiVar.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Satoshi Variable", sans-serif;
    background-color: black;
    color: white;
}

.center {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}

img {
    border-radius: 0.25rem;
}

.card {
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.icon {
    width: 2.5rem;
    color: lightgray;
    transition: all 0.1s ease;
}

.icon:hover {
    color: white;
}

a {
    text-decoration: none;
}
